@using System.Globalization;

@model StreetFighter.Web.Models.FichaTecnicaModel

@{
    ViewBag.Title = "FichaTecnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="faixa">
        <strong>Ficha Técnica</strong>
    </div>
    <div>
        <h1>@Model.Nome</h1> <br>
        <img style="float:left;width: 250px; height: 295px;" src="@Model.Imagem" alt="Personagem" />
        <strong>Primeira aparição:</strong> @Model.PrimeiraAparicao<br>
        <strong>Nascimento:</strong> @Model.DataNascimento.ToString("dd' de 'MMMM' de 'yyyy")<br>
        <strong>Altura:</strong> @Model.Altura cm.<br>
        <strong>Peso:</strong> @Model.Peso kg.<br>
        <strong>Origem:</strong> @Model.Origem.<br>
        <strong>Golpes especiais famosos:</strong> @Model.GolpesEspeciais.<br>
        <strong>Personagem Oculto:</strong> @Model.PersonagemOculto.
    </div>
</div>