@model StreetFighter.Web.Models.SobreModel

@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="faixa">
        <strong>Sobre</strong>
    </div>
    <div>
        <h1>Eduardo</h1>
        <img style="width: 250px; height: 295px; float: left;" src="~/Content/Images/eduFace.jpg" alt="Eduardo" />
        <strong>Nome:</strong>@Model.Nome <br>
        <strong>Idade:</strong>@Model.Idade <br>
        <strong>Telefone:</strong>@Model.Telefone <br>
        <strong>Natural de:</strong>@Model.NaturalDe <br>
        <strong>GitHub:</strong>@Model.GitHub <br>
        <h2>História:</h2> @Model.Historia

    </div>
</div>
